<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    
    <div>&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
         <i class="fa-brands fa-square-facebook"></i> -->
        <!-- <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    </div>
</footer> --> 



<footer class="footer" id='footerbp'>
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
            <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
        </div>
        <div class="footer-bottom">
            <p>Created By <a href="https://www.linkedin.com/in/bineet-pradhan-2382aa258/">#BINEET PRADHAN</a>.</p>
          </div>
        <div class="footer-links">
          <ul class="footer-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; WanderLust. All rights reserved.</p>
      </div>
     
    </div>
    <!-- <div class="attribute">
        Create by 
        <a href="">
            Jay Ramoliya
        </a >
    </div> -->
  </footer>


