

<% layout("/layouts/boilerplate.ejs") %>
<div class="container-bp">
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h3 style=" text-align: center;" >Create A New List(Only Block Letter)Input Details Properly</h3>
    <form method="post" action="/listings"  novalidate class="needs-validation" enctype="multipart/form-data" >
        <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" id="title" placeholder="Enter the title " class="form-control" required>
       <div class="invalid-feedback">Title should be valid</div>
        </div>
        <br><br>
        <div>
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" id="description" cols="30" rows="1" placeholder="Enter the description" class="form-control" required></textarea>
       <div class="invalid-feedback">Description should be valid</div>

        </div>
        <br><br>
        <!-- <div>
        <label for="image" class="form-label">Image/Link</label>
        <input type="text" placeholder="enter the url/image" name="listing[image]" class="form-control">
        </div>
        <br><br> -->
        <div>
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file"  name="listing[image]" class="form-control">
            </div>
        <br><br>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" id="price" placeholder="enter price" class="form-control" required>
       <div class="invalid-feedback">Priceshould be valid</div>

            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" id="country" placeholder="enter the courntry" class="form-control" required>
       <div class="invalid-feedback">Country should be valid</div>

            </div>

        </div>
        <br><br>
        <!-- <label for="selection">Types</label>
        <input type="text" name="listing[selection]" id="selection"> -->
     
        <div class="row"> 
            <div class="mb-3 md-4">
                <label for="selection" class="form-label">Type Of Hotel:</label>
                
                <select class="form-select" aria-label="Default select example" id="selection" name="listing[selection]" id="selection" required>
                    <option selected>Select the type of hotel</option>
                    <option value="ROOMS">ROOMS</option>
                    <option value="MOUNTAIN">MOUNTAIN</option>
                    <option value="ARCTIC">ARCTIC</option>
                    <option value="CAMPING">CAMPING</option>
                    <option value="FIRMS">FIRMS</option>
                    <option value="CASTLES">CASTLES</option>
                    <option value="SNOW">SNOW</option>
                    <option value="TRENDING">TRENDING</option>
                    <option value="SEA">SEA</option>
                    <option value="CITIES">ICONIC CITIES</option>
                  </select>
             </div>
         </div>     
       
        <br><br>
        <div>
            <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" id="location" placeholder="enter the location of the hotel" class="form-control" required>
       <div class="invalid-feedback">Location should be valid</div>
       <!-- <div class="invalid-feedback">Title should be valid</div> -->

        </div>
       
        <br><br>
        <button class="btn btn-dark  add-btn">ADD</button>
        <br><br>
    </form>
    </div>
    </div>

</div> 

