body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 6rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
    padding-left: 1.5rem;
}

.nav-link{
    color: #222222  !important;
    /* padding:0 !important; */
}

.f-info-links{
    text-decoration: none;
    color: #222222;
}
f-info-links:hover{
    text-decoration: underline;
    /* color: #222222; */
}

.f-info-links, .f-info-socials{
    width: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.f-info-socials :hover{
    scale: 1.5;
    opacity: 0.8;
}
.f-info-links a{
    text-decoration: none;
    color: #fe424d;
    padding-left: 20px;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
.f-info-socials  i:hover{
    cursor: pointer;
    color: aqua;
}

.f-info{
    text-align: center;
    display: flex;
    background-color:#ebe8eb ;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-top: 70px; */
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    margin: 10px;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-links{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay :hover{
    opacity: 0.2;
    background-color: white;
}
.card-img-top:hover{
   opacity: 0.8;
   color: #ebe8eb;
   scale: 1.05;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-btn{
    background-color: #fe424d;
    border: none !important;
}

.show-img{
    height: 30vh; 
}

.btns{
    display: flex;
    justify-content: center;
    /* margin-left: 10px; */
}

.btn-i{
    margin-right:30px ;
}
.show-card{
    padding-left: 0;
    padding-right: 0;;
}

.edit-btn  a{
    text-decoration: none;
    color: white;
}

.edit-btn{
    background-color:  #fe424d;
}


#map{
    height: 400px;
    width: 80%;
}










@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,213,255,1);
    font-family: 'poppins';
    position: relative;
} */

.footer {
    font-size: 15px;
    width: 100%;
    background-color: #ebe8eb ;
    color: black;
    padding: 30px 0;
    border-radius: 10px;
    margin-top: 30px;
}
  
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
  
.footer-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

  
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer-menu li:last-child {
    margin-right: 0;
}
  
.footer-menu a {
    color: black;
    text-decoration: none;
}
  
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.social-icons li {
    display: inline-block;
    margin-right: 10px;
}
  
.social-icons li:last-child {
    margin-right: 0;
}
  
.social-icons a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
  
.footer-bottom {
    margin-top: 10px;
    text-align: center;
}
  
.footer-bottom p {
    margin: 0;
}
  
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .footer-menu{
        text-align: left;
    }
    .footer-menu li {
      display: block;
      margin-bottom: 10px;
    }
}
  
/* .attribute{
    position: absolute;
    bottom: 10px;
} */

.footer-bottom  a{
    text-decoration: none;
    color: #fe424d;
}